.a { padding-right:0px;
    font-weight:bold;
    height:20px;
    font-size:13px;
    }
    .o1 {
    text-decoration:none;
    background-color: #afcFFF;
    border:1px solid #CECC15;
    }
    .a1 { padding-right:0px;
    width:35px;
    height:20px;
    font-size:16px;
    }
    .e1 {
    text-decoration:none;
    background-color: #cBeFFF;
    border:1px solid #CECC15;
    }
    .s1 {
    text-decoration:none;
    background-color: #12fFFF;
    border:1px solid #36DBCA;
    }
    .w1 {
    text-decoration:none;
    background-color: #F5DEB3;
    border:1px solid #90FEFB;
    }