<!DOCTYPE html>
<html>
    <head>
        <title>
            DEP-ORG-CHART-ALL
        </title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..//css/Org.css">
        <title>Index page</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="main" style="height: 80%;">
            <img src="../img/hindi1.jpg" class="bg-image text-white"
                width="100%">

            <div class="centered col-11">
                <div class="card-content">
                    <div>
                        <button class="btn btn-success"><a
                                href="../view/hindi_h.html">हिंदी</a></button>
                    </div>
                    <h1 align="center">
                        <font face="CG Times" , font size="6">
                            <b> BHARAT HEAVY ELECTRICALS LIMITED, Bhopal </b>
                        </h1></font>

                    <div align="center">
                        <img src="../img/BHEL Logo.png" alt="BHEL Logo"
                            width="100" height="70">
                    </div>

                    <p align="center"><b>
                            <font face="CG Times" , font size="5">
                                Department Name - Traffic Transport
                                Services(T.S.X.)</font>
                        </b>
                    </p>
                    <p align="center">
                        <font face="CG Times" , font size="5">
                            <b>Department Code - 382 </font></b>
                    </p>

                    <div align=center class=a><u><b>Organization Chart of
                                Traffic Transport Services(TSX)</b></u><br><br>

                        <p>
                            <h4 class=b1><b>SHRI KIRAN MAHAJAN (President)</b></h4><br>
                            <a class=a1></a>
                            <a class=a1>|___</a>
                            <a class=b1 id=a90>MANOJ KUMAR SRIVASTAVA (Seceretary)
                                </a> <br>
                            <a class=a1></a><a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SURAJPAL PRAJAPATI (Member)
                                 </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI RAM NARAYAN GIRI (Member) </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI SURAJ TIWARI (Member) </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI PARMESHWAR SWAMI (Member)</a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI VIKRAM SINGH (Member)</a> </p><br>
                    </div>

                    <div>
                        <button class="btn btn-success"><a
                                href="../view/index.html">Back</a></button>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>