<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>TSX</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>

</head>

<body>
    <!-- Just an image -->
    <nav class="navbar navbar-light ">
        <a class="navbar-brand " href="#">
            <img src="../img/bhel_logo.png" width="100%" height="60" alt="logo" style="margin-left: 20rem;">
        </a>
        
        <div>
           <button id="btn"> <a href="../view/index-h.html">हिंदी</a></button>
        </div>
    </nav>

    <main>
        <div class="main" style="height: 80%;">
            <img src="../img/swift2.jpg" class="bg-image text-white bg-height" width="100%">

            <div class="centered col-10">
                <div class="card-content">
                    <h1 align="center">
                        <font face="cursive" , font size="6">
                            BHARAT HEAVY ELECTRICALS LIMITED,  Bhopal
                    </h1>
                   
                    <div align="center">
                        <img src="../img/BHEL Logo.png" alt="BHEL Logo" width="100" height="70">
                    </div>
                    
                    <p align="center"><b>
                            <font face="CG Times" , font size="5">
                                Department Name - T.S.X.</font>
                        </b>
                    </p>
                    <p align="center"><b>

                            Department Code - 382 </font></b>
                    </p>

                    <p align="center">
                        <font face="cursive" , font size="5">
                            <b> Welcome To The Car Pool</b>
                        </font>
                    </p>
                    <ul align="center">
                        <li style="margin-bottom: 0.8rem;">
                            <b>TSX organisation chart</b>
                            <button id="btn"><a href="../view/Organisation_chart.html">click here</a>
                            </button><br>
                        </li>
                        <li><b>TSX Telephone Directory </b>
                            <button id="btn"><a href="Telephone Directory.html">click here</a></button><br><br>
                        </li>
                        <li><b>Vehicle Booking Format</b>
                            <button id="btn">
                                <a href="Login form.html">Click here</a>
                            </button><br><br></li>
                        <li><b> Hindi Portal Department </b>
                            <button id="btn"> <a href="Hindi Portal Department.html"> click here </a> </button>
    </li>
                    </ul>

                </div>
            </div>
        </div>
      


        <div id="google_translate_element"></div>

        <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
        </script>
        
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                            





        </div>

    </main>
</body>

</html>





