<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css">
        <!-- <link rel="stylesheet" href="../css/style1.css"> -->
        <title>TSX</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    </head>
    <body>
        <nav class="navbar navbar-light ">
            <a class="navbar-brand " href="#">
                <img src="../img/bhel2.png" width="100%" height="70"
                    alt="logo" style="margin-left: 20rem;">
            </a>
            <div>
                <button class="btn btn-success" id="toggleButton">हिंदी/English</button>
            </div>
        </nav>

        <main>
            <div id="englishContent" class="main" style="height: 80%;">
                <img src="../img/swift2.jpg"
                    class="bg-image text-white bg-height" width="100%">

                <div class="centered col-10">
                    <div class="card-content">
                        <h1 align="center">
                            <font face="cursive" , font size="6">
                                BHARAT HEAVY ELECTRICALS LIMITED, Bhopal
                            </h1>

                            <div align="center">
                                <img src="../img/BHEL Logo.png" alt="BHEL Logo"
                                    width="100" height="70">
                            </div>

                            <p align="center"><b>
                                    <font face="CG Times" , font size="5">
                                        Department Name - T.S.X.
                                        </font>
                                </b>
                            </p>
                            <p align="center"><b>

                                    Department Code - 382 </font></b>
                        </p>

                        <p align="center">
                            <font face="cursive" , font size="5" , font
                                color="red">
                                <marquee direction="right"
                                    behavior="alternate" width="50%"
                                    style="border:BLACK 2px SOLID">
                                    <b>Welcome To The Car Pool</b>
                                </marquee>

                            </font>
                        </p>
                    
                        <ul class="list-group list-group-flush" style="margin-left: 17.5rem;    border-radius: 9px;">
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0;">
                              <b>TSX Organisation Chart</b>
                              <a href="../view/Organisation_chart.html" class="btn btn-success">Click here</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0;">
                              <b>TSX Telephone Directory</b>
                              <a href="Telephone_Directory.html" class="btn btn-success">Click here</a>
                            </li>
                            
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0;">
                              <b>Hindi Portal Department</b>
                              <a href="hindi_e.html" class="btn btn-success">Click here</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0;">
                              <b>Vehicle Booking Link</b>
                              <a href="Hindi_Portal_Department.html" class="btn btn-success">Click here</a>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0;">
                                <b>Vehicle Booking Format</b>
                                <select id="vehicleDropdown" class="btn btn-success">
                                  <option value disabled selected>click here</option>
                                  <option value="option1">Half day</option>
                                  <option value="option2">Full day</option>
                              </select>
                               
                              </li>
                          </ul>
                
                    </div>
                </div>
            </div>

            <div class="main" id="hindiContent" style="display: none;height: 80%;">
                <img src="../img/swift-dzire1.jpg" class="bg-image text-white"
                    width="100%">

                <div class="centered col-10">
                    <div class="card-content">
                        <h1 align="center">
                            <font face="cursive" , font size="6">
                                भारत हेवी इलेक्ट्रिकल्स लिमिटेड, भोपाल 
                            </h1>

                            <div align="center">
                                <img src="../img/BHEL Logo.png" alt="BHEL Logo"
                                    width="100" height="70">
                            </div>

                            <p align="center"><b>
                                    <font face="CG Times" , font size="5">
                                        विभाग का नाम - परिवहन सेवा विभाग
                                        (टी.एस.अक्स.)<br>
                                        विभाग कोड - 382
                                        </font>
                                </b>
                            </p>
                    
                        <p align="center">
                            <font face="cursive" , font size="5" font color="red">
                                <marquee direction="right"
                                    behavior="alternate" width="50%"
                                    style="border:BLACK 2px SOLID">
                                <b> परिवहन सेवा विभाग मे आपका स्वागत है ।</b></marquee>
                            </font>
                        </p>
                                                
                            <ul class="list-group list-group-flush" style="margin-left: 17.5rem;    border-radius: 9px;">
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0; font-size: 18px;" >
                                  <b>विभागी Organisation चार्ट</b>
                                  <a href="../view/Organisation_chart.html" class="btn btn-success">यहाँ क्लिक करे</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0; font-size: 18px;">
                                  <b>विभागी दूरभाष निर्देशी </b>
                                  <a href="Telephone_Directory.html" class="btn btn-success">यहाँ क्लिक करे</a>
                                </li>
                                
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0; font-size: 18px;">
                                  <b>विभागी हिन्दी समिति</b>
                                  <a href="Hindi_Portal_Department.html" class="btn btn-success">यहाँ क्लिक करे</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0; font-size: 18px;">
                                  <b>वाहन बूकिंग लिंक</b>
                                  <a href="Hindi_Portal_Department.html" class="btn btn-success">यहाँ क्लिक करे</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" style="margin: 0; font-size: 18px;">
                                    <b>वाहन बूकिंग फॉर्मेट</b>
                                    <select id="vehicleDropdown" class="btn btn-success">
                                      <option value disabled selected>यहाँ क्लिक करे</option>
                                      <option value="option1">हाफ डे </option>
                                      <option value="option2">फुल डे </option>
                                  </select>
                                   
                                  </li>
                              </ul>

                        </div>
                    </div>
                </div>
                <script>
            document.getElementById("vehicleDropdown").addEventListener("change", function () {
                var selectedOption = this.value;
        
                if (selectedOption === "option1") {
                    // Replace 'vehicle_option1.pdf' with the actual file path for option 1
                    window.location.href = "../document/half day.pdf";
                } else if (selectedOption === "option2") {
                    // Replace 'vehicle_option2.pdf' with the actual file path for option 2
                    window.location.href = "../document/full day.pdf";
                }
            });
        </script>

            </main>

            <script>
        const toggleButton = document.getElementById("toggleButton");
        const englishContent = document.getElementById("englishContent");
        const hindiContent = document.getElementById("hindiContent");

        toggleButton.addEventListener("click", function () {
            if (englishContent.style.display === "block") {
                englishContent.style.display = "none";
                hindiContent.style.display = "block";
            } else {
                englishContent.style.display = "block";
                hindiContent.style.display = "none";
            }
        });
    </script>
        </body>

    </html>
