<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="..//css/Org.css">
        <title> DEP-ORG-CHART</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
            crossorigin="anonymous">
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>

    </head>
    <body>

        <div class="main">
            <img src="../img/org.jpg" class="bg-image" width="100%" height="60%">

            <div class="centered col-11">
                <div class="card-content">
                    <div>
                        <button class="btn btn-success"><a href="../view/org-hindi.html">हिंदी</a></button>
                    </div>
                    <h1 align="center">
                        <font face="CG Times" , font size="6">
                            <b> BHARAT HEAVY ELECTRICALS LIMITED, Bhopal </b>
                        </h1></font>

                    <div align="center">
                        <img src="../img/BHEL Logo.png" alt="BHEL Logo"
                            width="100" height="70">
                    </div>

                    <p align="center"><b>
                            <font face="CG Times" , font size="5">
                                Department Name - Traffic Transport
                                Services(T.S.X.)</font>
                        </b>
                    </p>
                    <p align="center">
                        <font face="CG Times" , font size="5">
                            <b>Department Code - 382 </font></b>
                    </p>

                    <div align=center class=a><u><b>Organization Chart of
                                Traffic Transport Services(TSX)</b></u><br><br>

                            <p>
                                <h4 class=b1><b>SHRI KIRAN
                                    MAHAJAN,1272632,382/TSX,E2</b></h4><br>
                            <a class=a1></a>
                            <a class=a1>|___</a>
                            <a class=b1 id=a90>SHRI MANOJ KUMAR SRIVASTAVA
                                ,6050735,382/TSX,E1 </a> <br>
                            <a class=a1></a><a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI SURAJPAL PRAJAPATI
                                ,1293346,382/TSX,A8 </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI RAM NARAYAN GIRI
                                ,1280503,382/TSX,A9 </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI SURAJ TIWARI
                                ,1287214,382/TSX,A8 </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI PARMESHWAR SWAMI
                                ,1287206,382/TSX,A8 </a> <br>
                            <a class=a1></a>
                            <a class=a1>|</a>
                            <a class=a1>|___</a>
                            <a class=w1 id=a135>SHRI VIKRAM SINGH
                                ,1287192,382/TSX,A8 </a> </p><br>
                        </div>

                        <div>
                            <button class="btn btn-success"><a href="../view/index.html">Back</a></button>
                        </div>
                    <br>
                </body>
            </html>